/** General Settings **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

:root {
    --strongcyan: hsl(171, 66%, 44%);
    --lightblue: hsl(233, 100%, 69%);
    --darkgrayishblue: hsl(210, 10%, 33%);
    --grayishblue: hsl(201, 11%, 66%);
}

section {
    width: 100%;
    padding: 70px 0;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.btn {
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

p {
    color: var(--grayishblue);
    line-height: 1.7;
}

.menus .box1 a:hover,
.menus .box2 a:hover,
.menus .box3 a:hover {
    color: var(--strongcyan);
}

.strongcyan {
    background-color: var(--strongcyan);
    box-shadow: 0px 5px 10px 0.125px var(--strongcyan);
}

.lightblue {
    background-color: var(--lightblue);
    box-shadow: 0px 5px 15px 0.125px var(--lightblue);
}


/** Header Settings **/
header {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p {
    padding-top: 20px;
    padding-bottom: 40px;
    max-width: 650px;
    text-align: center;
    line-height: 1.7;
}

header img {
    width: 100px;
    margin-bottom: 60px;
}


/** Snippets Settings **/
.snippets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.snippets p {
    text-align: center;
    max-width: 690px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.snippets-container {
    width: 100%;
    display: flex;
}

.snippet-img {
    flex: 1;
    width: 100%;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.right p {
    padding-top: 13px;
    text-align: left;
    padding-bottom: 25px;
    max-width: 70%;
}


/** Clipboard Settings **/
.clipboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clipboard p {
    max-width: 690px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.clipboard img {
    max-width: 60%;
}

/** SuperCharge Settings **/
.supercharge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.supercharge p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.box-container {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.box img {
    width: 10%;
    margin-bottom: 40px;
}

.box p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

/** Partners Settings **/
.partners {
    display: flex;
    justify-content: space-between;
}

.images {
    flex: 1;
}

.partners img {
    object-fit: contain;
}

/** Clipboard for IOS Settings **/
.clipboardforiosmacos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clipboardforiosmacos p {
    text-align: center;
    max-width: 690px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

/** Footer Settings **/

footer {
    background: var(--grayishblue);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.footer-content-left {
    display: flex;
}

.footer-content-left .menus {

    display: flex;
}

.menus .link {
    padding-top: 20px;
}

.box1,
.box2,
.box3 {
    display: flex;
    flex-direction: column;
}

.footer-content-left .menus li {
    padding-left: 90px;
    list-style: none;
}

.footer-content-left .menus a {
    padding-left: 90px;
    text-decoration: none;
    color: var(--darkgrayishblue);
}

.footer-content-left .menus li a {
    text-decoration: none;
}

.footer-content img {
    width: 50px;
}

.socials {
    display: flex;
    align-items: center;
}

.socials img {
    width: 22px;
    margin-left: 25px;
    cursor: pointer;
}

/** Atribution Settings**/
.attribution {
    background-color: #222;
}

.attribution-content {
    display: flex;
    justify-content: center;
}

.attribution-content a {
    text-decoration: underline;
    color: rgb(156, 156, 156);
}

/** Media Queries Properties**/
@media screen and (max-width: 420px) {
    .container {
        padding: 0 10px;
    }

    header {
        background-image: url(./images/bg-header-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    header img {
        width: 100px;
        margin-top: 110px;
    }

    .content h1 {
        text-align: center;
    }

    .header-btns {
        text-align: center;
    }

    .btn {
        width: 100%;
    }

    .strongcyan {
        margin-bottom: 20px;
    }

    .snippets-container {
        width: 100%;
        flex-direction: column;
    }

    .right {
        text-align:
            center;
        padding-left: 0;
        margin-top: 50px;
    }

    .right p {
        text-align: center;
        max-width: 100%;
    }

    .box-container,
    .partners {
        flex-direction: column;
    }

    .partners {
        align-items: center;
    }

    .partners img {
        width: 150px;
        margin-bottom: 60px;
    }

    .clipboardforiosmacos h2 {
        text-align: center;
    }

    .menus {
        flex-direction: column;
        padding-left: 0;
    }

    .footer-content {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }

    .footer-content-left {
        align-items: center;
        flex-direction: column;
    }

    .footer-content-left .logo {
        margin-bottom: 50px;
    }

    .footer-content-left .menus a {
        padding-left: 0;
    }

    .menus .link {
        padding-top: 0px;
    }

    .menus .box1 a,
    .menus .box2 a,
    .menus .box3 a {
        text-align: center;
        padding-bottom: 30px;
    }

    .socials .faceb {
        margin-left: 0px;
    }

    .attribution-content {
        align-items: center;
        justify-content: center;
    }

    .attribution-content p {
        font-size: 15px;
    }
}